.home{
    background-color:#0E0B16;
    height:100vh;
    width: 100vw;
    position: relative;
}
.boxes{
    opacity:0.5;
    width:100%;
}
.title{
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    font-size:10rem;
    font-weight:900;
    letter-spacing:1rem;
    text-transform: uppercase;
    color:#E7DFDD;
    text-align:left;
    top:30%;
    left:4rem;
}
.title span{
    display:block;
    color:#E7DFDD;
}
.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
    opacity:1;
    width:100px;
    height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}