.navbar{
    background-color: transparent;
    position: fixed;
    display:flex;
    align-content:center;
    z-index: 99;
    width: 100%;
    justify-content: space-between;
}
.container{
    padding:0 8rem;
}
.navbar .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar img{
    width: 150px;
    height: 150px;
}

.nav-items{
    display:flex;
    align-items: center;
}
.nav-item{
    font-size: 1.25rem;
}
.nav-item a{
    font-size: 1.25rem;
    color:#e44d26;
}
.nav-item:hover{
    border-bottom: 2px solid #17242A;
}
.nav-item:not(.nav-item:last-child){
    margin-right: 5rem;
}
.active{
    display: block;
}
@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}
.nav-display{
    background-color: #EEEEEE;
    height: 15vh;
    transition: padding 0.21s ease-out, background 0.21s ease-out, border 0.21s ease-out;
    animation-name:fadeInDown;
    animation-duration: .7s;
}
