.navbar{
    background-color: #EEEEEE;
    height:15vh;
    display:grid;
    align-content:center;
}
.container{
    padding:0 8rem;
}
.navbar .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 150px;
    height: 150px;
}

.nav-items{
    display:flex;
    align-items: center;
}
.nav-item{
    font-size: 1.25rem;
}
.nav-item a{
    font-size: 1.25rem;
    color:#e44d26;
}
.nav-item:hover{
    border-bottom: 2px solid #17242A;
}
.nav-item:not(.nav-item:last-child){
    margin-right: 5rem;
}
.active{
    display: block;
}